# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# CodeStream ignored files
/../../How-to-Setup-a-Laravel-Project-You-Cloned-from-Github.com-main\.idea/codestream.xml
